ul.Actor{
    display: flex;
    padding:20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

    ul.Actor *{
        line-height: 1;
    }

    .Actor > li{
        min-width: 200px;
        max-width: 300px;
        text-align: center;
        margin-bottom: 30px;
        border-bottom: 1px dotted #333;
        padding-bottom:10px;
        line-height: 1;
    }

        .Actor .movie_block{
            display: flex;
            text-align: left;
            position:relative;
            z-index: 1;
        }

        .Actor .movie_about{
            padding-left:20px;
            line-height: 1;
         }

         .Actor .movie_about h3{
            margin-top:0;
            padding-top:0;
            margin-bottom: 0;
            color:green;
         }

         .Actor .movie_about em{
            font-size: 10px;
         }

         .Actor .showMore{
            font-size: 10px;
            right:0;
            bottom:0;
            color:green;
         }

         .actor_block{
            display: flex;
            justify-content: left;
            flex-wrap: wrap;
         }

         .actor_about{
            padding-left:30px;
         }

         .Actor .actor_img{
            max-width: 280px;
            height:320px;
            overflow: hidden;
         }

         .Actor .actor_img img{
            max-width: 100%;
         }


         .actor_character{
            padding-left:10px;
            list-style-type: disc;
            font-weight: bold;
         }

            .actor_character span{
                color:#19743f;
                font-weight: normal;
            }

            .actor_character ul{
                list-style-type:circle;
                padding-left: 10px;
                font-size: 0.8em;
            }